[init]
	defaultBranch = main
[user]
	name = Kjasn
	email = iz.kjasn@qq.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
